#ignore lo que quieras

#Excluimos todo menos DailyWeatherMainAdapter.java
app/*
!app/src
app/src/*
!app/src/main
app/src/main/*
!app/src/main/java/
app/src/main/java/*
!app/src/main/java/com
app/src/main/java/com/*
!app/src/main/java/com/barryzea
app/src/main/java/com/barryzea/*
!app/src/main/java/com/barryzea/appweather
app/src/main/java/com/barryzea/appweather/*
!app/src/main/java/com/barryzea/appweather/adapters
app/src/main/java/com/barryzea/appweather/adapters/*
!app/src/main/java/com/barryzea/appweather/adapters/DailyWeatherMainAdapter.java

#Excluimos todo menos ObservableMain.java
app/*
!app/src
app/src/*
!app/src/main
app/src/main/*
!app/src/main/java/
app/src/main/java/*
!app/src/main/java/com
app/src/main/java/com/*
!app/src/main/java/com/barryzea
app/src/main/java/com/barryzea/*
!app/src/main/java/com/barryzea/appweather
app/src/main/java/com/barryzea/appweather/*
!app/src/main/java/com/barryzea/appweather/MainModule
app/src/main/java/com/barryzea/appweather/MainModule/*
!app/src/main/java/com/barryzea/appweather/MainModule/Model
app/src/main/java/com/barryzea/appweather/MainModule/Model/*
!app/src/main/java/com/barryzea/appweather/MainModule/Model/ObservableMain.java

#Finalmente incluimos un layout
app/*
!app/src
app/src/*
!app/src/main
app/src/main/*
!app/src/main/res/
app/src/main/res/*

!app/src/main/res/layout
app/src/main/res/layout/*
!app/src/main/res/layout/activity_main.xml


gradle/
gradlew
gradlew.bat
settings.gradle
local.properties
build.gradle
gradle.properties
.idea
